[Unit]
Description=hd-idle - spin down idle hard disks
Documentation=man:hd-idle(1)

[Service]
Type=forking
EnvironmentFile=/etc/default/hd-idle
# ExecStart=/usr/sbin/hd-idle $HD_IDLE_OPTS
ExecStart=/usr/sbin/hd-idle -i 90
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
